div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dl, dt, dd {
margin: 0;
padding: 0;
}
body {
height: 100%;
font: 13px 'PT Sans', Arial, Tahoma, Verdana, Sans-Serif;
color: #626363;
background: #fff;
}
.wraper {
width: 1150px;
margin: 0 auto;
position: relative;
}
.wraper-body {
width: 1150px;
margin: 0 auto;
position: relative;
}
.top_title .text_bar_shadow, .text_bar_shadow {
position: absolute;
top: 6px;
left: 0;
width: 100%;
height: 29px;
background: url(../img/text_bar_shadow2.png) center top no-repeat;
}
.header {
position: relative;
min-height: 108px;
z-index: 1001;
margin: 0px;
padding: 0px;
display: block;
}
.header .logo, .header .logo:visited {
text-indent: -999em;
cursor: pointer;
background: url(../img/logo.jpg) no-repeat;
display: block;
width: 175px;
height: 37px;
position: absolute;
top: 37px;
left: 0;
}
.header nav {
position: absolute;
top: 43px;
right: 0;
display: block;
}
.header nav ul {
zoom: 1;
}
.header nav ul li {
font-size: 14px;
font-weight: bold;
float: left;
padding: 0 0 0 38px;
position: relative;
}
ul , li {
list-style: none;
}
a {
text-decoration: none;
}
.header nav ul li a, .header nav ul li a:visited {
color: #27292c;
float: left;
height: 30px;
}
.header nav ul ul {
display: none;
position: absolute;
top: 25px;
left: 23px;
z-index: 99999;
background: #f6f3f3;
}
.header nav ul ul span {
visibility: hidden;
padding-right: 10px;
background: url(../img/arrow.gif) right 6px no-repeat;
}
.header nav ul ul li {
float: none;
padding: 0;
display: block;
font-size: 12px;
font-weight: normal;
}
.header nav ul ul a {
padding: 14px 16px 14px 12px;
width: 130px;
display: block;
border: 1px solid #dbe8ed;
border-bottom: 1px solid #e3e3e3;
}
.header nav ul li:after {
content: '';
background: url(../img/sprite.png) 6px 7px no-repeat;
float: left;
display: block;
width: 12px;
height: 12px;
}

.header nav ul ul li:first-child a {
border-top: 1px solid #5eb2d1;
}
.content_after
{
	content: '';
display: block;
height: 0;
clear: both;

}
.top_title:before  {
content: '';
display: block;
width: 100%;
height: 0;
border-top: 1px solid #e7e6e6;
border-bottom: 5px solid #fff;
}
.top_title:after {
	content: '';
display: block;
width: 100%;
height: 0;
	border-bottom: 1px solid #e7e6e6;
border-top: 5px solid #fff;
}
.top_title {
background: #3fa3c9 url(../img/text_bar2.png);
margin-bottom: 30px;
position: relative;
}
.top_title .text_bar_shadow {
position: absolute;
top: 6px;
left: 0;
width: 100%;
height: 29px;
background: url(../img/text_bar_shadow2.png) center top no-repeat;
}
.top_title .wraper {
min-height: 60px;
padding: 29px 0 21px 0;
}
.top_title h2 {
text-shadow: #2c2c2c 0 1px 1px;
color: #fff;
float: left;
padding: 0 36px 0 0;
}
.top_title h2 span {
font-weight: normal;
font-size: 18px;
display: block;
padding-top: 4px;
}
.top_title ul {
position: absolute;
top: 67px;
right: 0;
list-style: none;
}
.top_title ul li {
float: left;
color: #fff;
font-size: 10px;
list-style: none;
}
.top_title ul li a {
color: #fff;
}
.intro_text .bwWrapper {
border: 5px solid #f6f3f3;
float: left;
font-size: 0;
line-height: 0;
}
.bwWrapper {
position: relative;
display: block;
}
.slider {
	   display:block;
     border:5px solid #DCDCDC;
     width: 550px;
     height: 340px;
     border-radius: 25px;
     box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
 body, div, p,a, em, img, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

form {
  background:#111; 
  width:508px;
  margin:-350px 0px 0px 610px;
  border-radius:25px;
  border:5px solid #DCDCDC;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  height: 340px;
}
 .field i {
left: 0px;
top: 0px;
position: absolute;
height: 36px;
width: 36px;
border-right: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
color: #777777;
text-align: center;
line-height: 42px;
transition: all 0.3s ease-out;
pointer-events: none;
}
form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

form:before {
  content:"";
  display:block;
  position:absolute;
  width:8px;
  height:7px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
  padding:20px; 
  border-top:1px solid #19191a;
}

form h1 {
  font-size:40px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:10px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

form h1:after {
  content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  -webkit-transform: rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
   background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */

}

label {
  color:#666;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password] {
  width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}

label[for=remember]{
  color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:0px;
}

input[type=checkbox] {
  display:inline-block;
  vertical-align:top;
}

.p-container {
  padding:0 20px 20px 20px; 
}

.p-container:after {
  clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#3fa3c9;
  padding-top:0px;
}

input[type=submit] {
  padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  background: #42A2BC;
  border-radius:3.3em;
  box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1), inset 0 -3px 2px rgba(0,0,0,0.2);
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:25px;
  margin:-34px 18px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
    background: linear-gradient(#52cfeb, #42A2BC);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
  background:#27292c;
}
div.icon {
  display: block;
  overflow: hidden;
}
div.icon span {
  display: inline-block;
  float: left;
}
div.icon input {
  display: inline-block;
  width: 80%;
  border-radius: 0 0.3em 0.3em 0;
}
div span.login{
  background: linear-gradient(#1f2124, #27292c);
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  padding: 7px 10px;
  border-radius: 0.3em 0 0 0.3em;
  border-right: 1px solid #19191a;
  margin: 2px 0px 0px 1px;
}
div.icon:hover span.icon_i i, nav ul li a:hover, nav ul li a.active  {
color: #3fa3c9!important;
}
.process{
  margin: 0px 85px 0px 85px;
}

.process h4 {
  margin: 0 0 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e7e6e6;
  font-size: 17px;
  color: #434242;
}
.process ul {
padding-bottom: 80px;
}
.process ul li {
float: left;
width: 220px;
padding: 0 22px 0 0;
}
.process ul li h3 {
font-size: 34px;
color: #d8d8d8;
padding-bottom: 15px;
}
.process ul li h3 span {
font-size: 11px;
color: #fff;
background: #5eafcd;
padding: 1px 8px;
position: relative;
top: -4px;
font-weight: normal;
}
.process:after {
content: '';
display: block;
height: 0;
clear: both;
}


.content_after
{
  content: '';
display: block;
height: 0;
clear: both;

}
.top_title:before  {
content: '';
display: block;
width: 100%;
height: 0;
border-top: 1px solid #e7e6e6;
border-bottom: 5px solid #fff;
}
.top_title:after {
  content: '';
display: block;
width: 100%;
height: 0;
  border-bottom: 1px solid #e7e6e6;
border-top: 5px solid #fff;
}
.top_title {
background: #3fa3c9 url(../img/text_bar2.png);
margin-bottom: 30px;
position: relative;
}
.top_title .text_bar_shadow {
position: absolute;
top: 6px;
left: 0;
width: 100%;
height: 29px;
background: url(../img/text_bar_shadow2.png) center top no-repeat;
}
.top_title .wraper {
min-height: 60px;
padding: 29px 0 21px 0;
}
.top_title h2 {
text-shadow: #2c2c2c 0 1px 1px;
color: #fff;
font-size: 22px;
float: left;
padding: 0 36px 0 0;
}
.top_title h2 span {
font-weight: normal;
font-size: 16px;
display: block;
padding-top: 4px;
}
.top_title ul {
position: absolute;
top: 59px;
right: 0;
list-style: none;
}
.top_title ul li {
float: left;
color: #fff;
font-size: 10px;
list-style: none;
}
.top_title ul li a {
color: #fff;
}
@charset "utf-8";
.unleash_wrap {margin-bottom:15px;padding-bottom:45px;background:url(../img/shadow.png) center bottom no-repeat;}
.unleash_bg {border:13px solid #2d2d2d;margin:0 auto;width:934px;}
#unleash_slider {
  overflow:hidden;
  display:block;
  position:relative;
  border-right:4px solid #171717;
  border-bottom:4px solid #171717;
}
.box {
  overflow: hidden;
  display:block;
  border:4px solid #171717;
  position:absolute;
  cursor: pointer;
  float:left;
  display: inline-block;
  zoom: 1;
  background:url(../img/sliders/pic1.jpg) no-repeat;
}
.box:nth-child(2) {background:url(../img/sliders/pic2.jpg) no-repeat;}
.box:nth-child(3) {background:url(../img/sliders/pic3.jpg) no-repeat;}
.box:nth-child(4) {background:url(../img/sliders/pic4.jpg) no-repeat;}
.box:nth-child(5) {background:url(../img/sliders/pic5.jpg) no-repeat;}
.box img {
  position:relative;
}
.box:hover img {
  visibility:hidden;
}
.caption {
  position:absolute;
  background:#000;
  padding:20px 25px;
  left:0;bottom:0;
}
.caption p {
  color:#FFF;
  margin:0px;
  font-size:13px;
}
.caption h1 {
  color:#fff;
  font-size:24px;
  margin:0 0 5px 0;
  font-weight:normal;
  text-shadow:#555555 0 1px 1px;
}
.caption h1 a {
  color:#fff;
  text-decoration:none;
}
.unleash_wrap {
margin-bottom: 15px;
padding-bottom: 45px;
background: url(../img/shadow.png) center bottom no-repeat;
}
.fallback {
display: none;
}
.oneByOne_item span.icon_i i {
  color: #3fa3c9;
   background: linear-gradient(#ffffff, #ffffff) !important;
   border-right: 1px solid #FFFFFF !important;
}
footer {
  margin-top: 30px;
  display: block;
  background: #222;
  color: #FAFAFA;
  font-size: 12px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
footer span {
  float: left;
  padding: 10px;
}
footer .links {
  float: right;
  overflow: hidden;
  padding: 10px;
}
footer .links a {
  text-decoration: none;
  float: left;
  color: #3fa3c9;
  margin-left: 5px;
}
footer .links a:hover {
  color: #eee;
}
footer .links a.no-link:hover {
  color: #3fa3c9;
  cursor: default;
}
.pagetitle {
  text-indent: 15px;
  padding: 5px 0px;
  background-color: #f2f2f2;
  color: #000;
  margin-bottom: 20px;
  border-radius: 5px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #3fa3c9;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
ol {
  margin-left: 1.4rem;
}
.pp {
  margin-top: 15px;
}
@font-face {
  font-family: 'Droid Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Droid Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
}