{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="wraper-body">
    <div class="process">
       <h4>On a Transformation Journey</h4>
       <ul>
        <li>
          <h3>Overview</h3>
         <p>HCL Infosystems Ltd. is India’s Premier Distribution and IT Services and Solutions Company. HCL Infosystems’ has one of the largest sales & distribution network in the country and provides value added distribution for partners including last mile connect and support in marketing and promotions for Telecom, IT , Office Automation and Consumer Electronics products covering more than 15000 towns across 664 districts in India. Our distribution business has an unparallel network that reaches more than 100,000 retail outlets, over 800 Direct and Micro Distributors and over 12400 Channel Partners across India.</p>
        </li>
        <li>
         <h3>Services</h3>
         <p>In the services space the Company has robust services offerings such as a comprehensive portfolio of Infrastructure Managed Services, Enterprise Application Services, System Integration Services, Office Automation Services, Managed Print Services, Life Cycle Services and After-Sales Support Services. HCL Learning, the Company’s learning solutions business, serves the entire spectrum of education and training requirements across schools colleges, individuals and enterprises and offers Digital Content & Learning Solutions.Each milestone achieved, holds witness to our success and commitment towards innovation.</p>
        </li>
        <li>
         <h3>Cab System</h3>
         <p>HCL has a wide number of employees ranging upto 90000 people in around 31 countries. The idea behind this system is to felicitate the employees with better transport facilities so that they can work more efficiently and effectively concentrating on their core job and not taking any hassles for transportation.
         HCL has initiated hiring of the cab through an online system so that it would be able to use internet technology to project the hiring company to the global world instead of limiting their services to their local domain alone, thus increase their return on investment (ROI).</p>
        </li>
        <li>
         <h3>Commitment</h3>
         <p>We are deeply cognizant of our Corporate Social Responsibilities and run multi-layered programs to do our bit.Leaders and leading companies go hand-in-hand, and together they create success stories.We are deeply cognizant of our Corporate Social Responsibilities and run multi-layered programs to do our bit.We at HCL believe in building a symbiotic relationship between us the manufacturers, the consumers and the recyclers with the aim to promote integration and sustainability in our operations to have least stress on the environment.</p>
        </li>
       </ul>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}