{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="wraper-body">
<div class="row static-page">

<div class="large-12 medium-12 small-12 columns justify" role="content">
    <h3 class="pagetitle">Terms and Conditions</h3>
    <h4 class="pp">Introduction</h4>
    <p class="justify">Welcome to our Web Application System. If you continue to browse and use this System, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern HCL relationship with you in relation to this System. If you disagree with any part of these terms and conditions, please do not use this System.</p>
    <h4 class="pp">Ownership</h4>
    <p>The term 'HCL' or 'us' or 'we' refers to the HCL Infosystems Ltd. (Corporate Office) whose registered office is <strong>'E-4,5 &amp; 6, Sector 11,NOIDA 201 301,UP India Tel'</strong> The term 'you' refers to the employees of HCL Company.</p>
    <h4 class="pp">Terms of Use:</h4>
    <p class="justify">The use of this System is subject to the following terms of use:</p>
    <ol>
        <li>The content of the pages of this System is for your general information and use only. It is subject to change without notice.</li>
        <li>This System uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: IP Address, Location</li>
        <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this System for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. </li>
        <li>Your use of any information or materials on this System is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
        <li>This System contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
        <li>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
        <li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
        <li>From time to time this System may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
        <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of India.</li>
        <li>Specific offers will have might have additional Terms &amp; Conditions which the user has to comply with in case he chooses to avail that offer.</li>
    </ol>
    <h4 class="pp">Cancellation and Returns</h4>
    <p class="justify">You may cancel the booking 24 hour prior to the time of journey, without any cancellation charges for all services. In case cancellation or shorting of the trip is requested within 24 hours of the pick-up time, then following rules will apply:</p>
    <ol>
        <li>Multi Day trip: The charge for the first day would be deducted from the total amount and refund will be issued to the user.</li>
        <li>Single Day trip/ Airport transfer: No Refund will be issued to the user.</li>
        <li>Airport transfer: No Cancellation Charges if Cancelled at least 2 hours prior of pickup time.</li>
    </ol>
</div>
</div>
</div>
{% endblock %}
{% block js %}
{% endblock %}