<div class="book-cab">
    <div class="row be-tabs">
        <div class="large-12 medium-12 small-12 columns">
            <div class="row">
                <h5 class="large-4 small-4 columns active">
                    <a class="booking-link local" title="" href="#local">Local</a>
                </h5>
                <h5 class="large-4 small-4 columns ">
                    <a class="booking-link airport" title="" href="#airport">Airport Transfer</a>
                </h5>
                <h5 class="large-4 small-4 columns ">
                    <a class="booking-link outstation" title="" href="#out_station">Outstation</a>
                </h5>
            </div>
        </div>
    </div>


    <div class="row be-tabs-contents be-ex" id="local" style="display:none;">
        <div class="form-div">
            <form method="POST" action="{% url "cab-booking" %}" id="local_form">
                <div style='display:none'>
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
                    <input type="hidden" name="type" value="Local"/>
                </div>
                <p>
                    <label>want a car in city</label> <label for="from_city" class="error"></label>
                    <input type="text" id="from_city" name="from_city" placeholder="Start typing city - e.g. Bangalore" required="" autocomplete="off">
                </p>
                <p>
                    <label>for: </label>  <label for="duration" class="error"></label>
                    <select name="duration" id="duration" required="">
                        <option value="">Duration</option>
                        <option value="Half Day (4Hr/40Kms)">Half Day (4Hr/40Kms)</option>
                        <option value="Full Day (8Hr/80Kms)">Full Day (8Hr/80Kms)</option>
                        <option value="2 Days">2 Days</option>
                        <option value="3 Days">3 Days</option>
                        <option value="4 Days">4 Days</option>
                        <option value="5 Days">5 Days</option>
                        <option value="6 Days">6 Days</option>
                        <option value="7 Days">7 Days</option>
                        <option value="8 Days">8 Days</option>
                        <option value="9 Days">9 Days</option>
                        <option value="10 Days">10 Days</option>
                    </select>
                </p>
                <p>
                    <label>on:</label> <label for="pickup_date" class="error"></label>
                    <input type="text" name="pickup_date" id="pickup_date" class="datepicker" data-date-format="dd-mm-yyyy" value="" placeholder="Date - 10-06-2014" required="">
                </p>
                <p>
                    <label>at:</label> <label for="pickup_time" class="error"></label>
                    <select name="pickup_time" id="pickup_time" required="" autocomplete="off">
                        <option value="" selected="">Select Time</option>
                        <option value="03:45">03:45 AM</option>
                        <option value="04:00">04:00 AM</option>
                        <option value="04:15">04:15 AM</option>
                        <option value="04:30">04:30 AM</option>
                        <option value="04:45">04:45 AM</option>
                        <option value="05:00">05:00 AM</option>
                        <option value="05:15">05:15 AM</option>
                        <option value="05:30">05:30 AM</option>
                        <option value="05:45">05:45 AM</option>
                        <option value="06:00">06:00 AM</option>
                        <option value="06:15">06:15 AM</option>
                        <option value="06:30">06:30 AM</option>
                        <option value="06:45">06:45 AM</option>
                        <option value="07:00">07:00 AM</option>
                        <option value="07:15">07:15 AM</option>
                        <option value="07:30">07:30 AM</option>
                        <option value="07:45">07:45 AM</option>
                        <option value="08:00">08:00 AM</option>
                        <option value="08:15">08:15 AM</option>
                        <option value="08:30">08:30 AM</option>
                        <option value="08:45">08:45 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="09:15">09:15 AM</option>
                        <option value="09:30">09:30 AM</option>
                        <option value="09:45">09:45 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="10:15">10:15 AM</option>
                        <option value="10:30">10:30 AM</option>
                        <option value="10:45">10:45 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="11:15">11:15 AM</option>
                        <option value="11:30">11:30 AM</option>
                        <option value="11:45">11:45 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="12:15">12:15 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <option value="12:45">12:45 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="13:15">01:15 PM</option>
                        <option value="13:30">01:30 PM</option>
                        <option value="13:45">01:45 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="14:15">02:15 PM</option>
                        <option value="14:30">02:30 PM</option>
                        <option value="14:45">02:45 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="15:15">03:15 PM</option>
                        <option value="15:30">03:30 PM</option>
                        <option value="15:45">03:45 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="16:15">04:15 PM</option>
                        <option value="16:30">04:30 PM</option>
                        <option value="16:45">04:45 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="17:15">05:15 PM</option>
                        <option value="17:30">05:30 PM</option>
                        <option value="17:45">05:45 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="18:15">06:15 PM</option>
                        <option value="18:30">06:30 PM</option>
                        <option value="18:45">06:45 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="19:15">07:15 PM</option>
                        <option value="19:30">07:30 PM</option>
                        <option value="19:45">07:45 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="20:15">08:15 PM</option>
                        <option value="20:30">08:30 PM</option>
                        <option value="20:45">08:45 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="21:15">09:15 PM</option>
                        <option value="21:30">09:30 PM</option>
                        <option value="21:45">09:45 PM</option>
                        <option value="22:00">10:00 PM</option>
                        <option value="22:15">10:15 PM</option>
                        <option value="22:30">10:30 PM</option>
                        <option value="22:45">10:45 PM</option>
                        <option value="23:00">11:00 PM</option>
                        <option value="23:15">11:15 PM</option>
                        <option value="23:30">11:30 PM</option>
                        <option value="23:45">11:45 PM</option>
                    </select>
                </p>
                <p>
                    <label>reason: </label> <label for="reason" class="error"></label>
                    <textarea name="reason" id="reason"></textarea>
                </p>
                <p class="form-btn">
                    <input type="submit" value="Submit"/>
                    <a href="#" class="cancel-booking">Cancel</a>
                </p>
            </form>
        </div>
    </div>

    <div class="row be-tabs-contents be-ex" id="airport" style="display:none;">
        <div class="form-div">
            <form method="POST" action="{% url "cab-booking" %}" id="airport_form">
                <div style='display:none'>
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
                    <input type="hidden" name="type" value="Airport"/>
                </div>
                <p>
                    <label>want a car for</label>
                    <label><input type="radio" checked="checked" name="want_car_for" value="comming" /> Coming from Airport</label>
                    <label><input type="radio" name="want_car_for" value="going" /> Going to Airport</label>
                </p>
                <p>
                    <label>in: </label> <label for="city" class="error"></label>
                    <input type="text" name="city" id="city" placeholder="Your City Name - e.g. Delhi"/>
                </p>
                <p>
                    <label>on:</label>  <label for="pickup_date" class="error"></label>
                    <input type="text" name="pickup_date" id="pickup_date" class="datepicker" data-date-format="dd-mm-yyyy" value="" placeholder="Date - 10-06-2014" required="">
                </p>
                <p>
                    <label>at:</label> <label for="pickup_time" class="error"></label>
                    <select name="pickup_time" id="pickup_time" required="" autocomplete="off">
                        <option value="" selected="">Select Time</option>
                        <option value="03:45">03:45 AM</option>
                        <option value="04:00">04:00 AM</option>
                        <option value="04:15">04:15 AM</option>
                        <option value="04:30">04:30 AM</option>
                        <option value="04:45">04:45 AM</option>
                        <option value="05:00">05:00 AM</option>
                        <option value="05:15">05:15 AM</option>
                        <option value="05:30">05:30 AM</option>
                        <option value="05:45">05:45 AM</option>
                        <option value="06:00">06:00 AM</option>
                        <option value="06:15">06:15 AM</option>
                        <option value="06:30">06:30 AM</option>
                        <option value="06:45">06:45 AM</option>
                        <option value="07:00">07:00 AM</option>
                        <option value="07:15">07:15 AM</option>
                        <option value="07:30">07:30 AM</option>
                        <option value="07:45">07:45 AM</option>
                        <option value="08:00">08:00 AM</option>
                        <option value="08:15">08:15 AM</option>
                        <option value="08:30">08:30 AM</option>
                        <option value="08:45">08:45 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="09:15">09:15 AM</option>
                        <option value="09:30">09:30 AM</option>
                        <option value="09:45">09:45 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="10:15">10:15 AM</option>
                        <option value="10:30">10:30 AM</option>
                        <option value="10:45">10:45 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="11:15">11:15 AM</option>
                        <option value="11:30">11:30 AM</option>
                        <option value="11:45">11:45 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="12:15">12:15 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <option value="12:45">12:45 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="13:15">01:15 PM</option>
                        <option value="13:30">01:30 PM</option>
                        <option value="13:45">01:45 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="14:15">02:15 PM</option>
                        <option value="14:30">02:30 PM</option>
                        <option value="14:45">02:45 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="15:15">03:15 PM</option>
                        <option value="15:30">03:30 PM</option>
                        <option value="15:45">03:45 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="16:15">04:15 PM</option>
                        <option value="16:30">04:30 PM</option>
                        <option value="16:45">04:45 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="17:15">05:15 PM</option>
                        <option value="17:30">05:30 PM</option>
                        <option value="17:45">05:45 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="18:15">06:15 PM</option>
                        <option value="18:30">06:30 PM</option>
                        <option value="18:45">06:45 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="19:15">07:15 PM</option>
                        <option value="19:30">07:30 PM</option>
                        <option value="19:45">07:45 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="20:15">08:15 PM</option>
                        <option value="20:30">08:30 PM</option>
                        <option value="20:45">08:45 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="21:15">09:15 PM</option>
                        <option value="21:30">09:30 PM</option>
                        <option value="21:45">09:45 PM</option>
                        <option value="22:00">10:00 PM</option>
                        <option value="22:15">10:15 PM</option>
                        <option value="22:30">10:30 PM</option>
                        <option value="22:45">10:45 PM</option>
                        <option value="23:00">11:00 PM</option>
                        <option value="23:15">11:15 PM</option>
                        <option value="23:30">11:30 PM</option>
                        <option value="23:45">11:45 PM</option>
                    </select>
                </p>
                <p>
                    <label>reason: </label> <label for="reason" class="error"></label>
                    <textarea name="reason" id="reason"></textarea>
                </p>
                <p class="form-btn">
                    <input type="submit" value="Submit"/>
                    <a href="#" class="cancel-booking">Cancel</a>
                </p>
            </form>
        </div>
    </div>

    <div class="row be-tabs-contents be-ex" id="out_station" style="display:none;">
        <div class="form-div">
            <form method="POST" action="{% url "cab-booking" %}" id="outstation_form">
                <div style='display:none'>
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
                    <input type="hidden" name="type" value="Outstation"/>
                </div>
                <p>
                    <label>want a car From</label>  <label for="from_city" class="error"></label>
                    <input type="text" id="from_city" name="from_city" value="" placeholder="Start typing city - e.g. New Delhi" required="" autocomplete="off">
                </p>
                <p>
                    <label>to</label> <label for="to_city" class="error"></label>
                    <input type="text" id="to_city" name="to_city" value="" placeholder="Start typing city - e.g. Bangalore" required="" autocomplete="off">
                </p>
                <p>
                    <label>on:</label> <label for="pickup_date" class="error"></label>
                    <input type="text" name="pickup_date" id="pickup_date" class="datepicker" data-date-format="dd-mm-yyyy" value="" placeholder="Select Date - 10-06-2014" required="">
                </p>
                <p>
                    <label>at:</label> <label for="pickup_time" class="error"></label>
                    <select name="pickup_time" id="pickup_time" required="" autocomplete="off">
                        <option value="" selected="">Select Time</option>
                        <option value="03:45">03:45 AM</option>
                        <option value="04:00">04:00 AM</option>
                        <option value="04:15">04:15 AM</option>
                        <option value="04:30">04:30 AM</option>
                        <option value="04:45">04:45 AM</option>
                        <option value="05:00">05:00 AM</option>
                        <option value="05:15">05:15 AM</option>
                        <option value="05:30">05:30 AM</option>
                        <option value="05:45">05:45 AM</option>
                        <option value="06:00">06:00 AM</option>
                        <option value="06:15">06:15 AM</option>
                        <option value="06:30">06:30 AM</option>
                        <option value="06:45">06:45 AM</option>
                        <option value="07:00">07:00 AM</option>
                        <option value="07:15">07:15 AM</option>
                        <option value="07:30">07:30 AM</option>
                        <option value="07:45">07:45 AM</option>
                        <option value="08:00">08:00 AM</option>
                        <option value="08:15">08:15 AM</option>
                        <option value="08:30">08:30 AM</option>
                        <option value="08:45">08:45 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="09:15">09:15 AM</option>
                        <option value="09:30">09:30 AM</option>
                        <option value="09:45">09:45 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="10:15">10:15 AM</option>
                        <option value="10:30">10:30 AM</option>
                        <option value="10:45">10:45 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="11:15">11:15 AM</option>
                        <option value="11:30">11:30 AM</option>
                        <option value="11:45">11:45 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="12:15">12:15 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <option value="12:45">12:45 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="13:15">01:15 PM</option>
                        <option value="13:30">01:30 PM</option>
                        <option value="13:45">01:45 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="14:15">02:15 PM</option>
                        <option value="14:30">02:30 PM</option>
                        <option value="14:45">02:45 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="15:15">03:15 PM</option>
                        <option value="15:30">03:30 PM</option>
                        <option value="15:45">03:45 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="16:15">04:15 PM</option>
                        <option value="16:30">04:30 PM</option>
                        <option value="16:45">04:45 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="17:15">05:15 PM</option>
                        <option value="17:30">05:30 PM</option>
                        <option value="17:45">05:45 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="18:15">06:15 PM</option>
                        <option value="18:30">06:30 PM</option>
                        <option value="18:45">06:45 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="19:15">07:15 PM</option>
                        <option value="19:30">07:30 PM</option>
                        <option value="19:45">07:45 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="20:15">08:15 PM</option>
                        <option value="20:30">08:30 PM</option>
                        <option value="20:45">08:45 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="21:15">09:15 PM</option>
                        <option value="21:30">09:30 PM</option>
                        <option value="21:45">09:45 PM</option>
                        <option value="22:00">10:00 PM</option>
                        <option value="22:15">10:15 PM</option>
                        <option value="22:30">10:30 PM</option>
                        <option value="22:45">10:45 PM</option>
                        <option value="23:00">11:00 PM</option>
                        <option value="23:15">11:15 PM</option>
                        <option value="23:30">11:30 PM</option>
                        <option value="23:45">11:45 PM</option>
                    </select>
                </p>
                <p>
                    <label>reason: </label> <label for="reason" class="error"></label>
                    <textarea name="reason" id="reason"></textarea>
                </p>
                <p class="form-btn">
                    <input type="submit" value="Submit"/>
                    <a href="#" class="cancel-booking">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>